# Postgres
POSTGRES_USER=quiz_user
POSTGRES_PASSWORD=quiz_password
POSTGRES_DB=quiz_platform
DATABASE_URL=postgresql://quiz_user:quiz_password@localhost:5432/quiz_platform

# API
PORT=4000
NODE_ENV=development

# Phase 1B: Auth & AI
JWT_SECRET=ganti-dengan-random-string-panjang
DEEPSEEK_API_KEY=sk-xxxxxxxx
PDF_SERVICE_URL=http://pdf-service:8000
MAX_PDF_SIZE_MB=10
CORS_ORIGIN=http://localhost:3000

# Web
NEXT_PUBLIC_API_URL=http://localhost:4000
